<%- include("includes/header") %>

<div class="row justify-content-center">
  <div class="col-md-6" data-aos="zoom-in">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required />
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>

<%- include("includes/footer") %>
